/* CSS de la NAVBAR */
/* ---------------- */
/* ---------------- */

.nav-link, .dropdown-item{
    font-family: GeosansLight;
    color: #6e9bb3 !important;
}
.nav-link.active{
    font-weight: bold;
    color:#004163 !important;
}
.nav-link:hover, .dropdown-item:hover{
    font-weight: bold;
    color:#004163 !important;
}
/* Couleur du clic sur le menu hamburger */
.navbar-toggler{
    color: #dfebf1 !important;
}
/* Couleur de l'icône du menu hamburger */
.bg-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28110, 155, 179, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Couleur de la bordure du menu hamburger */
.bg-light .navbar-toggler{
    border: 2px solid #6e9bb359;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .nav-link{
        font-size: 20px !important;
    }
    .dropdown-item{
        font-size: 18px !important;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .nav-link{
        font-size: 23px !important;
    }
    .dropdown-item{
        font-size: 21px !important;
    }

    /* Effet de soulignement lors du hover sous les éléments de la navbar */
    .nav-item{
        position: relative;
    }
    .nav-item::after{
        content: "";
        background-color: #004163;
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -18px;
        left: 0;
        opacity: 0;
        transition: all 0.2s;
    }
    .nav-item:hover::after{
        opacity: 1;
    }

    /* Effet de soulignement constant sous la page active */
    .nav-link.active::after{
        content: "";
        background-color: #72E4EA;
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -18px;
        left: 0;
        opacity: 1;
    }
}


/* CSS du FOOTER */
/* ------------- */
/* ------------- */

/* Sur version mobile, pour réduire l'espacement entre les deux éléments */
.footer-item:first-child{
    margin-bottom: -2vh;
}

.copyrights{
    font-family: GeosansLight;
    font-weight: bold;
    font-size: 12px;
    color:#004163;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* Ajout d'une ligne de séparation entre les copyrights et la nav du footer */
    border-top: 1px solid #dfebf1;
    width: 50%;
    margin: 0 auto;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .nav-link{
        font-size: 20px !important;
    }
    .copyrights{
        font-size: 16px;
    }

    /* On retire la margin précédemment appliquée pour la version mobile */
    .footer-item:first-child{
        margin: 0;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .nav-link{
        font-size: 23px !important;
    }
    .copyrights{
        font-size: 19px;
        width: 30%;
    }

    /* On retire la margin précédemment appliquée pour la version mobile */
    .footer-item:first-child{
        margin: 0;
    }

    /* Positionnement de la navbar en haut de l'écran peu importe le défilement */
    .navbar-sticky{
        position: fixed;
        width: 100%;
        top: 0;
        /* Pour que la navbar passe au-dessus des éléments */
        z-index: 2;
    }
    /* Pour que la navbar ne cache pas une partie du contenu */
    /* Sur la page d'accueil */
    #homepage{
        margin-top: 80px;
    }
    /* Sur la page d'inscription */
    #logpage{
        margin-top: 170px;
    }
    /* Sur la page des personnages */
    #charapage{
        margin-top: 102px;
    }
}