/* Polices custom */
@font-face{
    font-family: GeosansLight;
    src: url("./fonts/GeosansLight.ttf");
}
@font-face{
    font-family: YurukaUB;
    src: url("./fonts/FOT-YurukaStd-UB.ttf");
}
@font-face{
    font-family: GoBOLD;
    src: url("./fonts/Gobold-Light.otf");
}


/* Background des pages */
html{
    overflow-x: hidden;
}
body{
    background-image: url("./img/background.png");
    background-size: 100% auto;
    overflow-x: hidden;
}


/* CSS en COMMUN */
/* ------------- */
/* ------------- */

/* Bordure autour des champs lorsqu'on les sélectionne */
/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
.log-input:focus, .filter-input:focus{
    outline: 2px dashed #6e9bb359;
}

/* Changement des couleurs en hover des boutons */
/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
.log-button:hover, .search-button:hover, .reset-button:hover{
    background-color: #FFC915;
    color: #252525;
}


/* CSS de la page d'ACCUEIL */
/* ------------------------ */
/* ------------------------ */

#banniere{
    width: 100%;
    height: auto;
}

.container-bienvenue{
    background-color: #fafafa;
    margin-top: 15px;
}
.presentation{
    font-family: GeosansLight;
    font-size: 14px;
    color: #006196;
    margin-bottom: 15px;
}
.pres-sm{
    font-size: 12px;
}

.container-carousel{
    background-color: #fafafa;
}
.card-name{
    font-family: YurukaUB;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .presentation{
        font-size: 18px;
    }
    .pres-sm{
        font-size: 16px;
    }

    /* Élargissement du margin entre les éléments */
    .container-bienvenue{
        margin-top: 20px;
    }
    .presentation{
        margin-bottom: 20px;
    }

    /* Effet d'assombrissement des images du carousel si le curseur ne se trouve pas au-dessus */
    .carousel-item::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.30);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 1s;
    }
    /* Pour que le texte reste au-dessus de l'assombrissement */
    .carousel-caption{
        font-family: GeosansLight;
        z-index: 1;
    }

    /* Annulation de l'effet d'assombrissement si le curseur passe au-dessus des images */
    .carousel-item:hover::after{
        background-color: transparent;
    }
    /* Pour que le texte soit + lisible lors du hover sur les images */
    .carousel-item:hover .carousel-caption{
        font-family: GeosansLight;
        font-weight: bolder;
        color: #252525;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        transition: all 0.2s;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .presentation{
        font-size: 20px;
    }
    .pres-sm{
        font-size: 18px;
    }

    /* Élargissement du margin entre les éléments */
    .container-bienvenue{
        margin-top: 25px;
    }
    .presentation{
        margin-bottom: 25px;
    }

    /* Effet d'assombrissement des images du carousel si le curseur ne se trouve pas au-dessus */
    .carousel-item::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.30);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 1s;
    }
    /* Pour que le texte reste au-dessus de l'assombrissement */
    .carousel-caption{
        font-family: GeosansLight;
        z-index: 1;
    }

    /* Annulation de l'effet d'assombrissement si le curseur passe au-dessus des images */
    .carousel-item:hover::after{
        background-color: transparent;
    }
    /* Pour que le texte soit + lisible lors du hover sur les images */
    .carousel-item:hover .carousel-caption{
        font-family: GeosansLight;
        font-weight: bolder;
        color: #252525;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        transition: all 0.2s;
    }
}


/* CSS des pages d'INSCRIPTION + CONNEXION */
/* --------------------------------------- */
/* --------------------------------------- */

.container-signup, .container-login{
    background-color: #fafafa;
    margin: 15px 0;
}

form{
    font-family: GeosansLight;
    font-size: 16px;
}

#joinSEKAI{
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    padding: 25px 0;
    margin: 0;
}

/* Styles des inputs */
.log-input{
    background-color: #F1F4F7;
    color: #7A8C9F;
    text-align: center;
    border: 0;
    width: 100%;
    margin-bottom: 10px;
}
input[type="date"]{
    /* Pour que l'icône et la date se centrent en version mobile */
    flex-direction: column;
    margin-bottom: 0;
}
input[type="checkbox"]{
    /* Pour aligner la checkbox avec le label */
    vertical-align: middle;
    margin-top: -2px;
}
::placeholder{
    color: #7A8C9F;
}
label{
    font-size: 14px;
    color: #7A8C9F;
    /* Pour aligner le label avec la checkbox */
    vertical-align: middle;
}

.log-button{
    font-family: GoBOLD;
    font-weight: bold;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    padding: 4px 22px;
    margin-top: 10px;
}

.separateur{
    color: #7A8C9F;
}
.redirect-link{
    padding: 15px 0;
}
.redirect-link a{
    text-decoration: none;
    font-size: 14px;
    color: #7A8C9F;
}
.redirect-link a:hover{
    font-weight: bold;
    color: #004163;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .container-signup, .container-login{
        border-radius: 15px;
        margin: 7vh 0;
    }
    .container-signup{
        width: 50vw !important;
    }
    .container-login{
        width: 43vw !important;
    }

    #joinSEKAI{
        font-size: 21px;
    }

    .log-input{
        font-size: 18px;
        /* Pour aligner sur la gauche en responsive */
        text-align: left;
        padding: 0 15px;
    }
    /* Permet d'aligner à gauche de l'input date, la checkbox et le label */
    .birthdateCheck{
        display: flex;
    }
    /* Pour remettre en ligne l'icône et la date */
    input[type="date"]{
        flex-direction: row;
    }
    label{
        font-size: 16px;
        margin-left: 5px;
    }

    .log-button{
        font-size: 18px;
        padding: 6px 24px;
    }

    .separateur{
        font-size: 16px;
        margin: 0 2px;
    }
    .redirect-link a{
        font-size: 16px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-signup, .container-login{
        border-radius: 15px;
        /* Pour prendre un peu + d'espace de la page */
        margin-bottom: 83px;
    }
    .container-signup{
        width: 37vw !important;
    }
    .container-login{
        width: 30vw !important;
    }

    #joinSEKAI{
        font-size: 23px;
        padding: 50px 0;
    }

    .log-input{
        font-size: 20px;
        /* Pour aligner sur la gauche en responsive */
        text-align: left;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    /* Permet d'aligner à gauche de l'input date, la checkbox et le label */
    .birthdateCheck{
        display: flex;
    }
    /* Pour remettre en ligne l'icône et la date */
    input[type="date"]{
        flex-direction: row;
    }
    label{
        font-size: 18px;
        margin-left: 5px;
    }

    .log-button{
        font-size: 18px;
        padding: 8px 26px;
    }

    .separateur{
        font-size: 18px;
        margin: 0 2px;
    }
    .redirect-link{
        padding: 30px 0;
    }
    .redirect-link a{
        font-size: 18px;
    }
}


/* CSS de la page des PERSONNAGES */
/* ------------------------------ */
/* ------------------------------ */

.container-chara{
    background-color: #fafafa;
}

.group-logo{
    margin: 30px 0;
}

/* Ligne de séparation entre les groupes */
hr{
    border-top: 1px solid #6e9bb38e !important;
}

.chara-name{
    font-family: YurukaUB;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: rotate(-3deg);
    margin-top: 15px;
    margin-bottom: 30px;
}
.ln-color{
    color: #4455DD;
}
.mmj-color{
    color: #6CCB20;
}
.vbs-color{
    color: #EE1166;
}
.wxs-color{
    color: #FF9900;
}
.niigo-color{
    color: #884499;
}
.virtual-color{
    color: #00cdba;
}

/* Bouton pour afficher/masquer la sidebar */
#toggleForm{
    background-color: #F8F9FA;
    border-top: 2px solid #6e9bb359;
    border-bottom: 2px solid #6e9bb359;
    border-left: 2px solid #6e9bb359;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    padding: 6px 10px;
    position: fixed;
    top: 87px;
    right: -1px;
}

/* Styles de la zone de la sidebar */
.sidebar form{
    background-color: #F8F9FA;
    border: 2px solid #6e9bb359;
    position: fixed;
    width: 235px;
    top: 87px;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#titleMenu{
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    padding: 15px 0;
    margin: 0;
}

/* Styles des inputs */
.sidebar form label{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.filter-input{
    background-color: #F1F4F7;
    color: #7A8C9F;
    text-align: center;
    border: 0;
    outline: 1px solid #6e9bb359;
    width: 70%;
    margin-bottom: 20px;
}

.search-button, .reset-button{
    font-family: GoBOLD;
    font-weight: bold;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
}
.search-button{
    padding: 4px 22px;
}
.reset-button{
    padding: 4px 12px;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .groups-logo{
        width: 196px;
        height: 82px; 
    }

    .chara-pic{
        width: 215px;
        height: 275px;
    }
    /* Effet de tremblement lors du passage du curseur sur l'image du personnage */
    .col:hover{
        animation: shake 2s;
    }
    @keyframes shake{
        10%{ transform: scale(1.05) rotate(5deg); }
        20%{ transform: scale(1.05) rotate(-5deg); }
        30%{ transform: scale(1.05) rotate(5deg); }
        40%{ transform: none; }
    }

    /* Augmentation de la taille du bouton pour afficher/masquer la sidebar */
    #toggleForm{
        padding: 8px 12px;
    }

    #titleMenu{
        font-size: 21px;
    }

    .sidebar form label{
        font-size: 18px;
        margin-left: 13px;
    }
    .filter-input{
        font-size: 18px;
    }

    .search-button, .reset-button{
        font-size: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .search-button{
        padding: 6px 24px;
    }
    .reset-button{
        padding: 6px 14px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-chara{
        width: 70%;
        margin: 0 5.5vw;
    }

    .groups-logo{
        width: 240px;
        height: 100px; 
    }

    .chara-pic{
        width: 235px;
        height: 300px;
    }
    /* Effet de tremblement lors du passage du curseur sur l'image du personnage */
    .col:hover{
        animation: shake 2s;
    }
    @keyframes shake{
        10%{ transform: scale(1.05) rotate(5deg); }
        20%{ transform: scale(1.05) rotate(-5deg); }
        30%{ transform: scale(1.05) rotate(5deg); }
        40%{ transform: none;}
    }

    /* Pour que la sidebar se glisse sous le footer */
    .sidebar form{
        border: none;
        width: 19vw;
        z-index: 1;
    }

    #titleMenu{
        font-size: 21px;
    }

    .sidebar form label{
        font-size: 18px;
        margin-left: 16px;
    }
    .filter-input{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .search-button, .reset-button{
        font-size: 18px;
        margin-top: 15px;
        margin-right: 6px;
        margin-left: 6px;
    }
    .search-button{
        padding: 6px 24px;
    }
    .reset-button{
        padding: 6px 24px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .container-chara{
        margin: 0 6.5vw;
    }

    .sidebar form{
        border: none;
        width: 17vw;
    }

    #titleMenu{
        font-size: 23px;
    }

    .sidebar form label{
        font-size: 20px;
    }
    .filter-input{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .search-button, .reset-button{
        font-size: 20px;
    }
    .search-button{
        padding: 8px 26px;
    }
    .reset-button{
        padding: 8px 16px;
    }
}