/* CSS de la page des CARTES */
/* ------------------------- */
/* ------------------------- */

.container-card{
    background-color: #fafafa;
    height: auto;
    min-height: 100vh;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.card-elements{
    position: relative;
}

.attribute{
    position: absolute;
    z-index: 2;
    /* Décalage pour placer le contenu en haut à droite de la carte */
    transform: translateX(940%) translateY(34%);
}
.rarity-wrapper{
    display: grid;
    position: absolute;
    bottom: 5.5%;
    z-index: 2;
    transform: translateX(7px);
}

/* Effet de pointeur sur les cartes */
.card-wrapper:hover{
    cursor: pointer;
}
.card-untrained, .card-trained{
    border-radius: 10px;
}
.card-untrained{
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}
.card-trained{
    position: absolute;
    z-index: 0;
    /* Translate: décalage pour placer la version trained sous la version untrained, de biais */
    transform: translate(-100%) rotate(2deg);
    transition: transform 0.3s ease;
}
/* Légère animation pour interchanger les deux versions d'une carte au passage de la souris */
.has-trained-card .card-wrapper:hover .card-untrained{
    z-index: 0;
    transform: rotate(2deg);
}
.has-trained-card .card-wrapper:hover .card-trained{
    z-index: 1;
    transform: translate(-100%) rotate(0deg);
}

.addcard-button{
    font-family: GoBOLD;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFC915;
    color: #252525;
    border: none;
    border-radius: 3px;
    padding: 4px 22px;
    margin-top: 1.5vh;
}
.addcard-button:hover{
    background-color: #72E4EA;
}
/* Pour le bouton dans l'état de suppression */
.addcard-button.remove{
    background-color: #72E4EA;
}
.addcard-button.remove:hover{
    background-color: #FFC915;
}

/* Styles des informations du pop-up */
#card-popup-title{
    font-family: GeosansLight;
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    margin: 15px 0;
}

.swap-card{
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 15%;
    position: absolute;
    right: 0;
    padding-right: 0;
    padding-bottom: 1%;
    padding-left: 2%;
}
.swap-card i{
    font-size: 30px;
    color: #004163;
    transition: all 0.4s ease;
}
.swap-card:hover i{
    transform: rotate(180deg);
    opacity: 30%;
}
#card-popup-img{
    border-bottom: 10px solid #e4f2fa;
    width: 100%;
    margin-bottom: 15px;
}

#card-popup-quote{
    font-family: GeosansLight;
    font-size: 16px;
    color: #252525;
    line-height: 125%;
    padding-bottom: 0.75vh;
    margin: 0;
}
#card-popup-voicedQuote{
    margin-bottom: 15px;
}

#card-popup-rarity img:not(:last-child){
    margin-right: 3px;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    .rarity-wrapper{
        transform: translateX(10px);
    }

    .addcard-button{
        padding: 6px 24px;
    }

    /* Styles des informations du pop-up */
    #card-popup-img{
        border-bottom: 15px solid #e4f2fa;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .attribute{
        width: 30px;
        height: 30px;
        /* Décalage pour placer le contenu en haut à droite de la carte */
        transform: translateX(1484%) translateY(32%);
    }
    .rarity-wrapper{
        bottom: 3.5%;
    }
    .rarity-wrapper img{
        width: 30px;
        height: 30px; 
    }

    .card-untrained, .card-trained{
        width: 485px;
        height: 277px; 
    }

    .addcard-button{
        font-size: 18px;
    }

    /* Styles des informations du pop-up */
    #card-popup-title{
        font-size: 21px;
        margin: 20px 0;
    }

    .swap-card{
        padding-bottom: 1%;
        padding-left: 1.25%;
    }
    .swap-card i{
        font-size: 45px;
    }
    #card-popup-img{
        margin-bottom: 20px;
    }

    #card-popup-quote{
        font-size: 18px;
    }
    #card-popup-voicedQuote{
        margin-bottom: 20px;
    }

    #card-popup-rarity img, #card-popup-attribute{
        width: 30px;
        height: 30px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-card{
        width: 70%;
        margin: 0 5.5vw;
    }

    .attribute{
        width: 35px;
        height: 35px;
        /* Décalage pour placer le contenu en haut à droite de la carte */
        transform: translateX(1444%) translateY(30%);
    }
    .rarity-wrapper{
        bottom: 3.25%;
    }
    .rarity-wrapper img{
        width: 35px;
        height: 35px; 
    }

    .card-untrained, .card-trained{
        width: 550px;
        height: 314px; 
    }

    .addcard-button{
        font-size: 20px;
    }

    /* Styles des informations du pop-up */
    #card-popup-title{
        font-size: 23px;
        margin: 25px 0;
    }
    .swap-card{
        padding-bottom: 1.75%;
        padding-left: 2.25%;
    }
    .swap-card i{
        font-size: 40px;
    }
    #card-popup-img{
        margin-bottom: 25px;
    }

    #card-popup-quote{
        font-size: 20px;
    }
    #card-popup-voicedQuote{
        margin-bottom: 25px;
    }

    #card-popup-rarity img, #card-popup-attribute{
        width: 35px;
        height: 35px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions MOBILE */
@media (min-width: 360px) and (max-width: 429px){
    .attribute{
        /* Décalage pour placer le contenu en haut à droite de la carte */
        transform: translateX(1240%) translateY(34%);
    }
    .rarity-wrapper{
        bottom: 4.5%;
    }

    .card-untrained, .card-trained{
        width: 275px;
        height: 157px; 
    }
}
@media (min-width: 430px) and (max-width: 575px){
    .attribute{
        width: 25px;
        height: 25px;
        /* Décalage pour placer le contenu en haut à droite de la carte */
        transform: translateX(1252%) translateY(28%);
    }
    .rarity-wrapper{
        bottom: 3.5%;
    }
    .rarity-wrapper img{
        width: 25px;
        height: 25px; 
    }

    .card-untrained, .card-trained{
        width: 345px;
        height: 191px; 
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .container-card{
        margin: 0 6.5vw;
    }

    /* Styles des informations du pop-up */
    #card-popup-img{
        border-bottom: 20px solid #e4f2fa;
    }
}