/* CSS de la page des PERSONNAGES */
/* ------------------------------ */
/* ------------------------------ */

.container-chara{
    background-color: #fafafa;
    height: auto;
    min-height: 100vh;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.unit-logo:first-child{
    margin-top: 30px;
}

/* Ligne de séparation entre les groupes */
hr{
    border-top: 1px solid #6e9bb38e !important;
    margin: 30px 0 !important;
}
hr:last-child{
    display: none;
}

/* Effet de pointeur sur les personnages */
.chara-pic:hover{
    cursor: pointer;
}
.chara-name{
    font-family: YurukaUB;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: rotate(-3deg);
    margin-top: 15px;
    margin-bottom: 0;
}

/* Styles des informations du pop-up */
#chara-popup-name{
    font-family: GeosansLight;
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    margin: 15px 0;
}

#chara-popup-img{
    border-bottom: 10px solid #e4f2fa;
    width: 100%;
}

#chara-popup-introduction{
    font-family: GeosansLight;
    font-size: 16px;
    color: #252525;
    line-height: 125%;
    padding: 15px 0;
    margin: 0;
}

/* Pour les sauts de ligne des textContent */
#chara-popup-position, #chara-popup-birthday, #chara-popup-school, #chara-popup-hobbies, #chara-popup-specialty, #chara-popup-favoriteFood, #chara-popup-hatedFood, #chara-popup-dislikes{
    white-space: pre-line;
}
#chara-popup-color{
    font-weight: bold;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    #chara-popup-img{
        border-bottom: 15px solid #e4f2fa;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .unit-logo{
        width: 196px;
        height: 82px; 
    }

    .chara-pic{
        width: 215px;
        height: 275px;
    }

    /* Styles des informations du pop-up */
    #chara-popup-name{
        font-size: 21px;
        margin: 20px 0;
    }

    #chara-popup-introduction{
        font-size: 18px;
        padding: 20px 5%;;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-chara{
        width: 70%;
        margin: 0 5.5vw;
    }

    .unit-logo{
        width: 240px;
        height: 100px;
    }

    .chara-pic{
        width: 235px;
        height: 300px;
    }

    /* Styles des informations du pop-up */
    #chara-popup-name{
        font-size: 23px;
        margin: 25px 0;
    }

    #chara-popup-introduction{
        font-size: 20px;
        padding: 25px 10%;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .container-chara{
        margin: 0 6.5vw;
    }

    /* Effet de tremblement lors du passage du curseur sur l'image du personnage */
    .chara-wrapper:hover{
        animation: shake 2s;
    }
    @keyframes shake{
        10%{ transform: scale(1.05) rotate(5deg); }
        20%{ transform: scale(1.05) rotate(-5deg); }
        30%{ transform: scale(1.05) rotate(5deg); }
        40%{ transform: none; }
    }

    /* Styles des informations du pop-up */
    #chara-popup-img{
        border-bottom: 20px solid #e4f2fa;
    }
}

/* Tailles spécifiques pour l'affichage des personnages en GRID */
@media (min-width: 932px) and (max-width: 991px), screen and (min-width: 1282px){
    .last-unit{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
}