/* CSS de la page des PERSONNAGES */
/* ------------------------------ */
/* ------------------------------ */

.container-chara{
    background-color: #fafafa;
    height: auto;
    min-height: 100vh;
    padding: 0 30px;
}

.unit-logo{
    margin: 30px 0;
}

/* Ligne de séparation entre les groupes */
hr{
    border-top: 1px solid #6e9bb38e !important;
}
hr:last-child{
    display: none;
}

.chara-name{
    font-family: YurukaUB;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: rotate(-3deg);
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Fond noir légèrement transparent pour faire un effet d'"arrière-plan" pour le pop-up */
#charapopup{
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: auto;
}

/* Affichage du container pop-up */
.popup-content{
    background-color: #fff;
    border: 1px solid #888;
    width: 100%;
    padding: 0 15px;
    margin: 10% auto;
}

/* Bouton pour fermer le pop-up */
.close{
    font-size: 22px;
    font-weight: bold;
    color: #6e9bb3;
    float: right;
    line-height: 0.95;
    margin: 15px 0;
}
.close:hover{
    color: #252525;
    /* Pour afficher un curseur "main" sur la croix (comme il s'agit à la base d'un texte) */
    cursor: pointer;
}

/* Styles des informations du pop-up */
#chara-popup-name{
    font-family: GeosansLight;
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    margin: 15px 0;
}
#chara-popup-img{
    border-bottom: 10px solid #e4f2fa;
    width: 100%;
}
#chara-popup-introduction{
    color: #252525;
    line-height: 125%;
    padding: 15px 0;
}
#chara-popup-introduction, table{
    font-family: GeosansLight;
    font-size: 16px;
    margin: 0;
}

table{
    width: 100%;
    color: #7A8C9F;
}
tr{
    border-top: 1px solid #6e9bb38e !important;
    margin: 15px 0;
}

.popup-icons{
    text-align: left;
}
th{
    color: #004163;
}
.popup-info{
    text-align: right;
    padding: 15px 0;
}

#chara-popup-color{
    font-weight: bold;
}

.no-result p{
    font-family: GeosansLight;
    font-size: 25px;
    color: #252525;
    padding-top: 30px;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .unit-logo{
        width: 196px;
        height: 82px; 
    }

    .chara-pic{
        width: 215px;
        height: 275px;
    }

    /* Affichage du container pop-up */
    .popup-content{
        padding: 0 20px;
    }

    /* Bouton pour fermer le pop-up */
    .close{
        font-size: 24px;
        line-height: 1;
        margin: 20px 0;
    }

    /* Styles des informations du pop-up */
    #chara-popup-name{
        font-size: 21px;
        margin: 20px 0;
    }
    #chara-popup-img{
        border-bottom: 15px solid #e4f2fa;
        width: 100%;
    }
    #chara-popup-introduction{
        padding: 20px 5%;;
    }
    #chara-popup-introduction, table{
        font-size: 18px;
    }

    tr{
        margin: 20px 0;
    }

    .popup-info{
        padding: 20px 0;
    }

    .no-result p{
        font-size: 30px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-chara{
        width: 70%;
        padding-bottom: 30px;
        margin: 0 5.5vw;
    }

    .unit-logo{
        width: 240px;
        height: 100px;
    }

    .chara-pic{
        width: 235px;
        height: 300px;
    }

    /* Affichage du container pop-up */
    .popup-content{
        width: 50%;
        padding: 0 25px;
        margin: 5% auto;
    }

    /* Bouton pour fermer le pop-up */
    .close{
        font-size: 26px;
        line-height: 1.10;
        margin: 25px 0;
    }

    /* Styles des informations du pop-up */
    #chara-popup-name{
        font-size: 23px;
        margin: 25px 0;
    }
    #chara-popup-img{
        border-bottom: 15px solid #e4f2fa;
        width: 100%;
    }
    #chara-popup-introduction{
        padding: 25px 10%;
    }
    #chara-popup-introduction, table{
        font-size: 20px;
    }
    
    tr{
        margin: 25px 0;
    }

    .popup-info{
        padding: 25px 0;
    }

    .no-result p{
        font-size: 35px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .container-chara{
        margin: 0 6.5vw;
    }

    /* Effet de tremblement lors du passage du curseur sur l'image du personnage */
    .col:hover{
        animation: shake 2s;
    }
    @keyframes shake{
        10%{ transform: scale(1.05) rotate(5deg); }
        20%{ transform: scale(1.05) rotate(-5deg); }
        30%{ transform: scale(1.05) rotate(5deg); }
        40%{ transform: none; }
    }

    /* Affichage du container pop-up */
    .popup-content{
        width: 40%;
    }

    /* Styles des informations du pop-up */
    #chara-popup-img{
        border-bottom: 20px solid #e4f2fa;
    }
}

/* Tailles spécifiques pour l'affichage des personnages en GRID */
/* Sur l'affichage initial */
@media (min-width: 932px) and (max-width: 991px), screen and (min-width: 1282px){
    .last-unit{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Sur l'affichage après filtrage */
@media (min-width: 474px) and (max-width: 752px), (min-width: 992px) and (max-width: 1161px){
    .characters-grid{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 753px) and (max-width: 991px), (min-width: 1162px) and (max-width: 1531px){
    .characters-grid{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1532px){
    .characters-grid{
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
    }
}