/* CSS en COMMUN */
/* ------------- */
/* ------------- */

/* Polices custom */
@font-face{
    font-family: GeosansLight;
    src: url("../../data/font/GeosansLight.ttf");
}
@font-face{
    font-family: YurukaUB;
    src: url("../../data/font/FOT-YurukaStd-UB.ttf");
}
@font-face{
    font-family: GoBOLD;
    src: url("../../data/font/Gobold-Light.otf");
}

/* Background des pages */
html{
    overflow-x: hidden;
}
body{
    background-image: url("../../data/img/background.png");
    background-size: 100% auto;
    overflow: hidden;
}

/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
form{
    font-family: GeosansLight;
    font-size: 16px;
}

/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
label{
    color: #7A8C9F;
}

/* Bordure autour des champs lorsqu'on les sélectionne */
/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
.log-input:focus, .filter-input:focus{
    outline: 2px dashed #6e9bb359;
}

/* Changement des couleurs en hover des boutons */
/* > Pages d'INSCRIPTION + CONNEXION + SIDEBAR de filtrage */
.log-button:hover, .search-button:hover, .reset-button:hover{
    background-color: #FFC915;
    color: #252525;
}


/* CSS du MENU / FILTRAGE */
/* ---------------------- */
/* ---------------------- */

#toggleForm, .sidebar{
    position: relative;
    z-index: 3;
}

/* Bouton pour afficher/masquer la sidebar */
#toggleForm{
    background-color: #F8F9FA;
    border-top: 2px solid #6e9bb359;
    border-bottom: 2px solid #6e9bb359;
    border-left: 2px solid #6e9bb359;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    padding: 6px 10px;
    position: fixed;
    top: 87px;
    right: -1px;
}

/* Styles de la zone de la sidebar */
.sidebar form{
    background-color: #F8F9FA;
    border: 2px solid #6e9bb359;
    position: fixed;
    width: 235px;
    top: 87px;
    right: 0;
    bottom: 0;
}

#titleMenu{
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    padding: 15px 0;
    margin: 0;
}

/* Styles des inputs */
.sidebar form label{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.filter-input{
    background-color: #F1F4F7;
    color: #7A8C9F;
    text-align: center;
    border: 0;
    outline: 1px solid #6e9bb359;
    width: 70%;
    margin-bottom: 20px;
}

.search-button, .reset-button{
    font-family: GoBOLD;
    font-weight: bold;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
}
.search-button{
    padding: 4px 22px;
}
.reset-button{
    padding: 4px 12px;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    /* Augmentation de la taille du bouton pour afficher/masquer la sidebar */
    #toggleForm{
        padding: 8px 12px;
    }

    #titleMenu{
        font-size: 21px;
    }

    .sidebar form label{
        font-size: 18px;
        margin-left: 13px;
    }
    .filter-input{
        font-size: 18px;
    }

    .search-button, .reset-button{
        font-size: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .search-button{
        padding: 6px 24px;
    }
    .reset-button{
        padding: 6px 14px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .sidebar form{
        border: none;
        width: 19vw;
    }

    #titleMenu{
        font-size: 21px;
    }

    .sidebar form label{
        font-size: 18px;
        margin-left: 16px;
    }
    .filter-input{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .search-button, .reset-button{
        font-size: 18px;
        margin-top: 15px;
        margin-right: 6px;
        margin-left: 6px;
    }
    .search-button{
        padding: 6px 24px;
    }
    .reset-button{
        padding: 6px 24px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .sidebar form{
        width: 17vw;
    }

    #titleMenu{
        font-size: 23px;
    }

    .sidebar form label{
        font-size: 20px;
    }
    .filter-input{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .search-button, .reset-button{
        font-size: 20px;
    }
    .search-button{
        padding: 8px 26px;
    }
    .reset-button{
        padding: 8px 16px;
    }
}

/* Taille spécifique pour le défilement de la sidebar */
@media (max-height: 605px){
    .sidebar form{
        overflow-y: auto;
    }
    
    .reset-button{
        margin-bottom: 15px;
    }
}


/* CSS du POP-UP */
/* ------------- */
/* ------------- */

/* Fond noir légèrement transparent pour faire un effet d'"arrière-plan" pour le pop-up */
#popup{
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: auto;
}

/* Affichage du container pop-up */
.popup-content{
    background-color: #fff;
    border: 1px solid #888;
    width: 100%;
    padding: 0 15px;
    margin: 10% auto;
}

/* Bouton pour fermer le pop-up */
.close{
    font-size: 22px;
    font-weight: bold;
    color: #6e9bb3;
    position: absolute;
    line-height: 0.95;
    margin: 15px 0;
}
.close:hover{
    color: #252525;
    /* Pour afficher un curseur "main" sur la croix (comme il s'agit à la base d'un texte) */
    cursor: pointer;
}

table{
    font-family: GeosansLight;
    font-size: 16px;
    color: #7A8C9F;
    width: 100%;
}
tr{
    border-top: 1px solid #6e9bb38e !important;
    margin: 15px 0;
}

.popup-icons{
    text-align: left;
}
th{
    color: #004163;
}
.popup-info{
    text-align: right;
    padding: 15px 0;
}


/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    /* Affichage du container pop-up */
    .popup-content{
        padding: 0 20px;
    }

    /* Bouton pour fermer le pop-up */
    .close{
        font-size: 24px;
        line-height: 1;
        margin: 20px 0;
    }

    table{
        font-size: 18px;
    }
    tr{
        margin: 20px 0;
    }

    .popup-info{
        padding: 20px 0;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    /* Affichage du container pop-up */
    .popup-content{
        width: 50%;
        padding: 0 25px;
        margin: 5% auto;
    }

    /* Bouton pour fermer le pop-up */
    .close{
        font-size: 26px;
        line-height: 1.10;
        margin: 25px 0;
    }

    table{
        font-size: 20px;
    }
    tr{
        margin: 25px 0;
    }

    .popup-info{
        padding: 25px 0;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    /* Affichage du container pop-up */
    .popup-content{
        width: 40%;
    }
}