/* CSS de la page de PROFIL */
/* ------------------------ */
/* ------------------------ */

.container-profile{
    background-color: #fafafa;
    padding: 30px;
}

p{
    font-family: GeosansLight;
}

.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.username{
    font-family: YurukaUB;
    color: #004163;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.user-desc, .user-birthday{
    color: #252525;
    margin-bottom: 0;
}

.settings-button{
    background-color: #F8F9FA;
    border-top: 2px solid #6e9bb359;
    border-bottom: 2px solid #6e9bb359;
    border-left: 2px solid #6e9bb359;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 87px;
    right: -1px;
    padding: 6px 10px;
}
.settings-title{
    display: none;
}
.social-wrapper{
    margin-bottom: 1.5rem;
}
.social-link{
    padding: 0 4px;
}

.fav-info{
    line-height: 1;
}
.fav-title{
    font-size: 18px;
    font-weight: bold;
    color: #004163;
    margin-bottom: 0;
}
.fav-unit, .fav-chara, .fav-song{
    color: #7A8C9F;
    margin-bottom: 0.5rem;
}

/* Ligne de séparation entre le profil et la collection */
hr{
    border-top: 1px solid #6e9bb38e !important;
    margin: 30px 0 !important;
}

.collection-title{
    font-family: GoBOLD;
    font-size: 18px;
    font-weight: bold;
    color: #004163;
    margin-bottom: 0.5rem;
}

.collection-wrapper{
    font-family: GoBOLD;
}

.buttons-wrapper{
    display: flex;
}
.buttons-wrapper button{
    font-size: 13px;
    font-weight: 400;
    background-color: #006196;
    color: white;
    border: none;
    width: 100%;
    padding: 5px 10px;
}
.buttons-wrapper button:nth-child(2){
    margin: 0 2px;
}
.buttons-wrapper button:hover{
    background-color: #004163;
}

.card-thumbnail{
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 5px;
    margin-left: 5px;
}
.no-result p{
    padding-top: 0.5rem !important;
}

/* Styles des informations du pop-up */
.delete-button{
    font-family: GoBOLD;
    font-weight: bold;
    font-size: 16px;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    padding: 4px 22px;
    margin-top: 30px;
}
.delete-button:hover{
    background-color: #FFC915;
}
.addition-date{
    font-family: GeosansLight;
    font-style: italic;
    font-size: 14px;
    color: #252525;
    margin: 0;
}

#card-popup-title{
    font-family: GeosansLight;
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    margin: 15px 0;
}

.swap-card{
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 15%;
    position: absolute;
    right: 0;
    padding-right: 0;
    padding-bottom: 1%;
    padding-left: 2%;
}
.swap-card i{
    font-size: 30px;
    color: #004163;
    transition: all 0.4s ease;
}
.swap-card:hover i{
    transform: rotate(180deg);
    opacity: 30%;
}
#card-popup-img{
    border-bottom: 10px solid #e4f2fa;
    width: 100%;
    margin-bottom: 15px;
}

#card-popup-quote{
    font-family: GeosansLight;
    font-size: 16px;
    color: #252525;
    line-height: 125%;
    padding-bottom: 0.75vh;
    margin: 0;
}
#card-popup-voicedQuote{
    margin-bottom: 15px;
}

#card-popup-rarity img:not(:last-child){
    margin-right: 3px;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    .user-info-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    .profile-picture{
        justify-self: end;
    }

    .user-info{
        justify-self: start;
        text-align: left;
    }
    .username{
        margin-top: 0;
    }

    .settings-button{
        display: inline-block;
        font-family: GeosansLight;
        font-weight: bold;
        color:#252525;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        position: static;
    }
    .settings-button:hover{
        background-color: #f3f3f3;
    }
    .settings-button i, .settings-title{
        padding: 0 2px;
    }
    .settings-title{
        display: inline-block;
    }
    .social-wrapper{
        margin-bottom: 0;
    }

    .fav-wrapper{
        display: flex;
        justify-content: space-around;
    }
    .fav-unit, .fav-chara, .fav-song{
        margin-bottom: 0;
    }

    /* Styles des informations du pop-up */
    .delete-button{
        padding: 6px 24px;
    }

    #card-popup-img{
        border-bottom: 15px solid #e4f2fa;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .user-info-wrapper{
        gap: 15px;
    }
    
    .profile-picture{
        width: 175px;
        height: 175px;
    }

    .user-desc, .user-birthday{
        font-size: 18px;
    }

    .settings-button{
        padding: 3px 10px;
    }
    .social-wrapper img{
        width: auto;
        height: 20px;
    }

    .fav-wrapper{
        margin-top: 1rem;
    }
    .fav-title{
        font-size: 20px;
    }
    .fav-unit, .fav-chara, .fav-song{
        font-size: 18px;
    }

    .collection-title{
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .buttons-wrapper button{
        font-size: 15px;
        padding: 7px 30px;
    }
    .buttons-wrapper button:nth-child(2){
        margin: 0 4px;
    }

    .card-thumbnail{
        width: 102px;
        height: 102px;
        margin-top: 1rem;
        margin-right: 9px;
        margin-left: 9px;
    }
    .no-result p{
        padding-top: 1rem !important;
    }

    /* Styles des informations du pop-up */
    .delete-button{
        font-size: 18px;
    }
    .addition-date{
        font-size: 16px;
    }

    #card-popup-title{
        font-size: 21px;
        margin: 20px 0;
    }

    .swap-card{
        padding-bottom: 1%;
        padding-left: 1.25%;
    }
    .swap-card i{
        font-size: 45px;
    }
    #card-popup-img{
        margin-bottom: 20px;
    }

    #card-popup-quote{
        font-size: 18px;
    }
    #card-popup-voicedQuote{
        margin-bottom: 20px;
    }

    #card-popup-rarity img, #card-popup-attribute{
        width: 30px;
        height: 30px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-profile{
        margin: 0 15%;
    }

    .user-info-wrapper{
        gap: 20px;
    }

    .profile-picture{
        width: 200px;
        height: 200px;
    }

    .user-desc, .user-birthday{
        font-size: 20px;
    }

    .settings-button{
        padding: 3px 15px;
    }
    .social-wrapper img{
        width: auto;
        height: 22px;
    }

    .fav-wrapper{
        margin-top: 1.5rem;
    }
    .fav-title{
        font-size: 22px;
    }
    .fav-unit, .fav-chara, .fav-song{
        font-size: 20px;
    }

    .collection-title{
        font-size: 22px;
        margin-bottom: 1.5rem;
    }
    
    .buttons-wrapper button{
        font-size: 17px;
        padding: 9px 50px;
    }
    .buttons-wrapper button:nth-child(2){
        margin: 0 6px;
    }

    .card-thumbnail{
        width: 152px;
        height: 152px;
        margin-top: 1.5rem;
        margin-right: 13px;
        margin-left: 13px;
    }
    .no-result p{
        padding-top: 1.5rem !important;
    }

    /* Styles des informations du pop-up */
    .delete-button{
        font-size: 20px;
    }
    .addition-date{
        font-size: 18px;
    }

    #card-popup-title{
        font-size: 23px;
        margin: 25px 0;
    }
    .swap-card{
        padding-bottom: 1.75%;
        padding-left: 2.25%;
    }
    .swap-card i{
        font-size: 40px;
    }
    #card-popup-img{
        margin-bottom: 25px;
    }

    #card-popup-quote{
        font-size: 20px;
    }
    #card-popup-voicedQuote{
        margin-bottom: 25px;
    }

    #card-popup-rarity img, #card-popup-attribute{
        width: 35px;
        height: 35px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    /* Styles des informations du pop-up */
    #card-popup-img{
        border-bottom: 20px solid #e4f2fa;
    }
}