/* CSS de la page des PARAMETRES */
/* ----------------------------- */
/* ----------------------------- */

.container-selectors, .container-settings{
    background-color: #fafafa;
}
.container-selectors{
    padding: 1.3rem !important;
    margin-top: 20vh;
}
.container-settings{
    padding: 0 1.3rem !important;
    margin-top: 3vh;
    margin-bottom: 20vh;
}

.container-selectors button{
    font-family: GoBOLD;
    font-size: 13px;
    font-weight: 400;
    background-color: #006196;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 1px;
}
.container-selectors button:hover{
    background-color: #004163;
}

#customization, #social{
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    padding: 25px 0;
    margin: 0;
}

/* Styles des inputs */
label{
    font-size: 16px;
    margin-bottom: 5px;
}
.settings-input{
    background-color: #F1F4F7;
    color: #7A8C9F;
    text-align: center;
    border: 0;
    width: 100%;
    margin-bottom: 10px;
}
input[type="date"]{
    /* Pour que l'icône et la date se centrent en versions MOBILE */
    flex-direction: column;
    margin-bottom: 0;
}
input[type="checkbox"]{
    /* Pour aligner la checkbox avec le label */
    vertical-align: middle;
    margin-top: -2px;
}
.birthdate-check label{
    font-size: 14px;
    /* Pour aligner le label avec la checkbox */
    vertical-align: middle;
    margin-bottom: 0;
}
/* Dernier input avant le bouton */
#anilistLink{
    margin-bottom: 0;
}

.settings-button{
    font-family: GoBOLD;
    font-weight: bold;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    padding: 4px 22px;
    margin: 15px 0;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    .container-selectors, .container-settings{
        border-radius: 15px;
    }

    /* Styles des inputs */
    .settings-input{
        /* Pour aligner sur la gauche en responsive */
        text-align: left;
        padding: 0 15px;
    }
    /* Permet d'aligner à gauche de l'input date, la checkbox et le label */
    .birthdate-check{
        display: flex;
    }
    /* Pour remettre en ligne l'icône et la date */
    input[type="date"]{
        flex-direction: row;
    }
    .birthdate-check label{
        margin-left: 5px;
    }

    .settings-button{
        font-size: 18px;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .container-selectors, .container-settings{
        width: 60vw !important;
    }
    .container-selectors{
        margin-top: 15vh;
    }
    .container-settings{
        margin-bottom: 15vh;
    }

    .container-selectors button{
        font-size: 15px;
        padding: 7px 20px;
        margin: 0 2px;
    }

    #customization, #social{
        font-size: 21px;
        padding: 35px 0;
    }

    /* Styles des inputs */
    label{
        font-size: 18px;
    }
    .settings-input{
        font-size: 18px;
    }
    .birthdate-check label{
        font-size: 16px;
    }

    .settings-button{
        padding: 6px 24px;
        margin: 25px 0;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-selectors, .container-settings{
        width: 37vw !important;
    }

    .container-selectors button{
        font-size: 17px;
        padding: 9px 30px;
        margin: 0 3px;
    }

    #customization, #social{
        font-size: 23px;
        padding: 50px 0;
    }

    /* Styles des inputs */
    label{
        font-size: 20px;
    }
    .settings-input{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .birthdate-check label{
        font-size: 18px;
    }

    .settings-button{
        padding: 8px 26px;
        margin: 35px 0;
    }
}