/* CSS de la page des PARAMÈTRES */
/* ----------------------------- */
/* ----------------------------- */

.container-selectors, .container-settings{
    background-color: #fafafa;
}
.container-selectors{
    padding: 1.3rem !important;
    margin-top: 20vh;
}
.container-settings{
    padding: 0 1.3rem !important;
    margin-top: 3vh;
    margin-bottom: 20vh;
}

.container-selectors button{
    font-family: GoBOLD;
    font-size: 13px;
    font-weight: 400;
    background-color: #006196;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 1px;
}
.container-selectors button:hover{
    background-color: #004163;
}

#alert{
    font-family: GeosansLight;
    font-size: 14px;
    font-weight: bold;
    background-color: #dcf3d5;
    color: #5b7251;
    border: 1px solid #82a174;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    animation: slideUp 0.5s ease forwards;
    padding: 5px 5px;
}
/* Animation de glissement vers le haut */
@keyframes slideUp{
    from{ transform: translate(-50%, 50%); opacity: 0; }
    to{ transform: translate(-50%, -50%); opacity: 1; }
}

#customization, #social{
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    padding: 25px 0;
    margin: 0;
}

/* Styles des inputs */
label{
    font-size: 16px;
    margin-bottom: 5px;
}
.settings-input{
    background-color: #F1F4F7;
    color: #7A8C9F;
    text-align: center;
    border: 0;
    width: 100%;
    margin-bottom: 10px;
}
input[type="date"]{
    /* Pour que l'icône et la date se centrent en versions MOBILE */
    flex-direction: column;
    margin-bottom: 0;
}
input[type="checkbox"]{
    /* Pour aligner la checkbox avec le label */
    vertical-align: middle;
    margin-top: -2px;
}
.birthdate-check label{
    font-size: 14px;
    /* Pour aligner le label avec la checkbox */
    vertical-align: middle;
    margin-bottom: 0;
}
/* Dernier input avant le bouton */
#anilistLink{
    margin-bottom: 0;
}

/* Styles de la liste de suggestions */
.suggestions-list{
    padding: 0;
    margin-bottom: 5px;
}
.song-wrapper{
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.song-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0 5px;
}
.song-wrapper:hover .song-title{
    opacity: 1;
}

.settings-button{
    font-family: GoBOLD;
    font-weight: bold;
    background-color: #72E4EA;
    color: #252525;
    border: none;
    border-radius: 3px;
    padding: 4px 22px;
    margin: 15px 0;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    .container-selectors, .container-settings{
        border-radius: 15px;
    }

    #alert{
        padding: 7px 7px;
    }

    /* Styles des inputs */
    .settings-input{
        /* Pour aligner sur la gauche en responsive */
        text-align: left;
        padding: 0 15px;
    }
    /* Permet d'aligner à gauche de l'input date, la checkbox et le label */
    .birthdate-check{
        display: flex;
    }
    /* Pour remettre en ligne l'icône et la date */
    input[type="date"]{
        flex-direction: row;
    }
    .birthdate-check label{
        margin-left: 5px;
    }

    .settings-button{
        font-size: 18px;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .container-selectors, .container-settings{
        width: 60vw !important;
    }
    .container-selectors{
        margin-top: 15vh;
    }
    .container-settings{
        margin-bottom: 15vh;
    }

    .container-selectors button{
        font-size: 15px;
        padding: 7px 20px;
        margin: 0 2px;
    }

    #alert{
        font-size: 16px;
    }

    #customization, #social{
        font-size: 21px;
        padding: 35px 0;
    }

    /* Styles des inputs */
    label, .song-title{
        font-size: 18px;
    }
    .settings-input{
        font-size: 18px;
    }
    .birthdate-check label{
        font-size: 16px;
    }

    .settings-button{
        padding: 6px 24px;
        margin: 25px 0;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-selectors, .container-settings{
        width: 37vw !important;
    }

    .container-selectors button{
        font-size: 17px;
        padding: 9px 30px;
        margin: 0 3px;
    }

    #alert{
        font-size: 18px;
    }

    #customization, #social{
        font-size: 23px;
        padding: 50px 0;
    }

    /* Styles des inputs */
    label, .song-title{
        font-size: 20px;
    }
    .settings-input{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .birthdate-check label{
        font-size: 18px;
    }

    /* Styles de la liste de suggestions */
    .suggestions-list{
        margin-bottom: 5px;
    }
    .song-wrapper{
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .song-cover{
        width: 150px;
        height: 150px;
    }

    .settings-button{
        padding: 8px 26px;
        margin: 35px 0;
    }
}