/* CSS de la page des CHANSONS */
/* --------------------------- */
/* --------------------------- */

.container-song{
    background-color: #fafafa;
    height: auto;
    min-height: 100vh;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

/* Effet de pointeur sur les chansons */
.song-cover:hover{
    cursor: pointer;
}

/* Styles des informations du pop-up */
#song-popup-title{
    font-family: GeosansLight;
    font-size: 19px;
    font-weight: bold;
    color: #004163;
    margin: 15px 0;
}

#song-popup-cover{
    border-bottom: 10px solid #e4f2fa;
    width: 65%;
    margin-bottom: 15px;
}

#song-popup-unit{
    width: 35%;
    padding-bottom: 0.75vh;
}
#song-popup-songAudio{
    margin-bottom: 15px;
}

/* Pour les sauts de ligne des textContent */
#song-popup-easy, #song-popup-normal, #song-popup-hard, #song-popup-expert, #song-popup-master, #song-popup-append{
    white-space: pre-line;
}

#mv2dSelector, #mv3dSelector{
    background: transparent;
    color: #004163;
    border: none;
    border-bottom: 3px solid #6e9bb38e;
    padding-top: 15px;
    margin-bottom: 0.75vh;
}
#mv2dSelector:hover, #mv3dSelector:hover{
    opacity: 70%;
}

.container-mv{
    border-top: none !important;
}
.container-mv td{
    padding-bottom: 15px;
}
.iframe-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}
.iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Modifications pour un responsive TABLETTE + PC */
@media (min-width: 576px){
    /* Styles des informations du pop-up */
    #song-popup-cover{
        border-bottom: 15px solid #e4f2fa;
    }
}

/* Modifications pour un responsive TABLETTE */
@media (min-width: 576px) and (max-width: 991px){
    .song-cover{
        width: 300px;
        height: 300px;
    }

    /* Styles des informations du pop-up */
    #song-popup-title{
        font-size: 21px;
        margin: 20px 0;
    }

    #song-popup-cover{
        width: 50%;
        margin-bottom: 20px;
    }

    #song-popup-unit{
        width: 20%;
    }
    #song-popup-songAudio{
        margin-bottom: 20px;
    }

    .difficulty-icons{
        width: 19px;
        height: 19px;
    }

    #mv2dSelector, #mv3dSelector{
        padding-top: 20px;
    }

    .container-mv td{
        padding-bottom: 20px;
    }
}

/* Modifications pour un responsive PC */
@media screen and (min-width: 992px){
    .container-song{
        width: 70%;
        margin: 0 5.5vw;
    }

    .song-cover{
        width: 350px;
        height: 350px;
    }

    /* Styles des informations du pop-up */
    #song-popup-title{
        font-size: 23px;
        margin: 25px 0;
    }

    #song-popup-cover{
        width: 57.5%;
        margin-bottom: 25px;
    }

    #song-popup-unit{
        width: 25%;
    }
    #song-popup-songAudio{
        margin-bottom: 27.5px;
    }

    .difficulty-icons{
        width: 21px;
        height: 21px;
    }

    #mv2dSelector, #mv3dSelector{
        padding-top: 25px;
    }
    
    .container-mv td{
        padding-bottom: 25px;
    }
}

/* Tailles spécifiques pour éviter de surcharger sur les versions PC */
@media screen and (min-width: 1282px){
    .container-song{
        margin: 0 6.5vw;
    }

    /* Styles des informations du pop-up */
    #song-popup-cover{
        border-bottom: 20px solid #e4f2fa;
    }
}